
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Свойство комнаты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* enctype="multipart/form-data" *@
            <form asp-action="RoomPropertiesModel"
                  method="post">

                <div class="modal-body">

                    <div class="form-group">
                        <input type="text"
                               name="Name"
                               class="form-control" />
                        <br />
                        <input type="text"
                               name="Description"
                               class="form-control" />
                        <hr />
                        <input type="file" class=" form-control"
                               name="photo" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>