@using APIConsumer.Models
@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "All Reservations";
}

<h2>All Reservations</h2>
<a asp-action="AddReservation" class="btn btn-sm btn-primary">Add Reservation</a>
<a asp-action="GetReservation" class="btn btn-sm btn-secondary">Get Reservation</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{
    <script>
        function ShowAllReservation() {
            $("table tbody").html("");

            $.ajax({
                url: "http://localhost:5177/api/Reservation",
                type: "get",
                contentType: "application/json",
                success: function (result, status, xhr) {

                    $.each(result, function (index, value) {
                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html(value["id"]));
                        appendElement.append($("<td>").html(value["name"]));
                        appendElement.append($("<td>").html(value["startLocation"]));
                        appendElement.append($("<td>").html(value["endLocation"]));
                        appendElement.append($("<td>").html("<a href=\"UpdateReservation.html?id=" + value["id"] + "\"><img src=\"icon/edit.png\" /></a>"));
                        appendElement.append($("<td>").html("<a href=\"UpdateReservation.html?id=" + value["id"] + "\"><img src=\"icon/edit.png\" /></a>"));
                        appendElement.append($("<td>").html("<img class=\"delete\" src=\"icon/close.png\" />"));
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        }


        $(document).ready(function () {
            ShowAllReservation();


            $("table").on("click", "img.delete", function () {
                var reservationId = $(this)
                    .parents("tr")
                    .find("td:nth-child(1)").text();

                $.ajax({
                    url: "https://localhost:5177/api/Reservation/" + reservationId,
                    type: "delete",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

        });
    </script>
}