<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Events</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Event Area Start -->
<section class="event-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>upcoming events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="event-menu">
                    <button data-filter="*" class="active"> All</button>
                    <button data-filter=".music">Music Party</button>
                    <button data-filter=".birthday">Birthday Party</button>
                    <button data-filter=".conference">Conference</button>
                    <button data-filter=".wedding">Wedding Party</button>
                    <button data-filter=".photography">Photography Party</button>
                </div>
            </div>
        </div>
        <div class="row event-items">
            <div class="single-event col-md-8 col-sm-8 col-xs-12 conference">
                <div class="single-event-item">
                    <img src="img/event/1.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">management conferences</h3>
                        <h3 class="author-name">By : Jhtyg Hyuir</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="single-event col-md-4 small col-sm-4 col-xs-12 music">
                <div class="single-event-item">
                    <img src="img/event/2.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">Music Concert</h3>
                        <h3 class="author-name">By : Jhon Doe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="single-event col-md-4 small col-sm-4 col-xs-12 birthday">
                <div class="single-event-item">
                    <img src="img/event/3.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">birthday party</h3>
                        <h3 class="author-name">By : Marry Luis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="single-event col-md-8 col-sm-8 col-xs-12 wedding">
                <div class="single-event-item">
                    <img src="img/event/4.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">weeding party </h3>
                        <h3 class="author-name">By : Kathy Luis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="single-event col-md-8 col-sm-8 col-xs-12 photography">
                <div class="single-event-item">
                    <img src="img/event/5.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">management conferences</h3>
                        <h3 class="author-name">By : Dan Brown</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="single-event col-md-4 small col-sm-4 col-xs-12 photography">
                <div class="single-event-item">
                    <img src="img/event/6.jpg" alt="">
                    <div class="event-text">
                        <h3 class="event-title">photography</h3>
                        <h3 class="author-name">By : Khaled Hossaini</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->