<h2>Create</h2>

<form asp-action="Create" asp-controller="RoomProperty"
      method="post">
    <div class="row">
        <div class="col-md-4">
            <label class="form-control">
                Name
            </label>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" name="Name" />
        </div>
    </div>
    <hr />
    <button type="submit">Добавить</button>
</form>