<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>near places</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>near places</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Team Area Start -->
<section class="team-area pt-90 team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>near nice places</h3>
                    <p class="pb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/1.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">Near Place Dummy Title</a></h3>
                        <div class="address-distance fix">
                            <span>East Road, London</span>
                            <span>1 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/2.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">Paris Rail Day Trip</a></h3>
                        <div class="address-distance fix">
                            <span>Montan Road, Paris</span>
                            <span>10 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/3.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">London Eye Ticket with Skip</a></h3>
                        <div class="address-distance fix">
                            <span>Jorge Street, London</span>
                            <span>6 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/4.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">Warner Bros. Studio Tour</a></h3>
                        <div class="address-distance fix">
                            <span>2/16, kmiue, London</span>
                            <span>30 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/5.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">Madame Tussauds London</a></h3>
                        <div class="address-distance fix">
                            <span>Park Street, London</span>
                            <span>21 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-location">
                    <div class="location-image">
                        <a href="#"><img src="img/location/6.jpg" alt=""></a>
                    </div>
                    <div class="location-text">
                        <h3><a href="#">Thames Hop-On Hop-Off </a></h3>
                        <div class="address-distance fix">
                            <span>Frter Road, London</span>
                            <span>30 kilometers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 fix">
                <div class="pagination-content text-center mt-20">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->