<h1 class="h3 mb-3 font-weght-normal">
    Pleace sign in
</h1>
<form method="post">
    <input type="hidden" value="@ViewBag.Returnurl" name="returnurl" />
    <label class="sr-only">Email adress</label>
    <input type="text" name="username" class="form-control" placeholder="User name"/>
    
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control"/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
    </button>
</form>