@{
    ViewData["Title"] = "ROOM - ROOM DETAILS";
    ViewData["Description"] = "A quality room of hotel ATR with sea or mountain view";
    ViewData["Keywords"] = "room, grid view";
}
@section Styles {}
<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Room Details</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Room Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Room Details Area Start -->
<section class="room-details pt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="room-slider-wrapper">
                    <div class="room-slider">
                        <div class="slider-image">
                            <img src="img/room/l-1.jpg" alt="">
                            <div class="cost">
                                <h2>$ 350</h2>
                                <span>Per Night</span>
                            </div>
                        </div>
                        <div class="slider-image">
                            <img src="img/room/l-2.jpg" alt="">
                            <div class="cost">
                                <h2>$ 150</h2>
                                <span>Per Night</span>
                            </div>
                        </div>
                        <div class="slider-image">
                            <img src="img/room/l-3.jpg" alt="">
                            <div class="cost">
                                <h2>$ 120</h2>
                                <span>Per Night</span>
                            </div>
                        </div>
                        <div class="slider-image">
                            <img src="img/room/l-4.jpg" alt="">
                            <div class="cost">
                                <h2>$ 220</h2>
                                <span>Per Night</span>
                            </div>
                        </div>
                        <div class="slider-image">
                            <img src="img/room/l-5.jpg" alt="">
                            <div class="cost">
                                <h2>$ 170</h2>
                                <span>Per Night</span>
                            </div>
                        </div>
                    </div>
                    <div class="row nav-row">
                        <div class="slider-nav">
                            <div class="nav-image">
                                <img src="img/room/s-1.jpg" alt="">
                            </div>
                            <div class="nav-image">
                                <img src="img/room/s-2.jpg" alt="">
                            </div>
                            <div class="nav-image">
                                <img src="img/room/s-3.jpg" alt="">
                            </div>
                            <div class="nav-image">
                                <img src="img/room/s-4.jpg" alt="">
                            </div>
                            <div class="nav-image">
                                <img src="img/room/s-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-details-text">
                    <h3 class="room-details-title">description of room</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut the enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea com modo conse quat. Duis aute irure dolor in reprehend erit in volupt ate velit esse cillum dolore eu fugiat nulla pari atur. Except eur sint occa ecat cupi datat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit volup tatem accusantium the doloremque lauda ntium, totam rem aper iam, eaque ipsa quae</p>
                    <p>Nemo enim ipsam voluptatem quia volu ptas sit asper natur aut odit aut fugit, sed quia consequ untur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolo rem ipsum quia dolor sit amet, conse ctetur, adipisci velit, sed quia a non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut new newenim ad im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
                <div class="room-facilities">
                    <h3 class="room-details-title">room facilities</h3>
                    <div class="single-facility">
                        <span><i class="zmdi zmdi-check"></i>Single Room</span>
                        <span><i class="zmdi zmdi-check"></i>70 sq mt</span>
                        <span><i class="zmdi zmdi-check"></i>3 Persons</span>
                        <span><i class="zmdi zmdi-check"></i>Free Internet</span>
                    </div>
                    <div class="single-facility">
                        <span><i class="zmdi zmdi-check"></i>Breakfast Inclide</span>
                        <span><i class="zmdi zmdi-close"></i>Free wi-fi</span>
                        <span><i class="zmdi zmdi-check"></i>Private Balcony</span>
                        <span><i class="zmdi zmdi-check"></i>Free Newspaper</span>
                    </div>
                    <div class="single-facility">
                        <span><i class="zmdi zmdi-check"></i>Full AC</span>
                        <span><i class="zmdi zmdi-close"></i>Flat Screen TV</span>
                        <span><i class="zmdi zmdi-check"></i>Beach View</span>
                        <span><i class="zmdi zmdi-close"></i>Room Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="sidebar-widget">
                    <h3 class="room-details-title">your reservation</h3>
                    <form action="#" method="post" class="search-form">
                        <div class="form-container fix">
                            <div class="box-select">
                                <div class="select date">
                                    <select name="arrive">
                                        <option>ARRIVE DATE</option>
                                        <option>10 JAN</option>
                                        <option>18 JAN</option>
                                        <option>21 JAN</option>
                                        <option>10 FEB</option>
                                        <option>28 FEB</option>
                                        <option>08 MAR</option>
                                        <option>19 APR</option>
                                    </select>
                                </div>
                                <div class="select date">
                                    <select name="departure">
                                        <option>DEPARTURE DATE</option>
                                        <option>13 FEB</option>
                                        <option>22 JAN</option>
                                        <option>26 JAN</option>
                                        <option>15 FEB</option>
                                        <option>02 MAR</option>
                                        <option>12 MAR</option>
                                        <option>23 APR</option>
                                    </select>
                                </div>
                                <div class="select arrow">
                                    <select name="adults">
                                        <option>ADULTS</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="select arrow">
                                    <select name="children">
                                        <option>CHILDREN</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="search default-btn">Check Availability</button>
                        </div>
                    </form>
                </div>
                <div class="sidebar-widget">
                    <div class="c-info-text">
                        <p>If you have any question please don't hesitate to contact us</p>
                    </div>
                    <div class="c-info">
                        <span><i class="zmdi zmdi-phone"></i></span>
                        <span>+660 256 24857<br>+660 256 24857</span>
                    </div>
                    <div class="c-info">
                        <span><i class="zmdi zmdi-email"></i></span>
                        <span>devitems@gmail.com<br>support@devitems.com</span>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <h3 class="room-details-title">popular posts</h3>
                    <div class="post-content">
                        <div class="post-img">
                            <a href="#" class="block"><img src="img/sidebar/1.jpg" alt=""></a>
                        </div>
                        <div class="post-text">
                            <h4><a href="#">post demo title</a></h4>
                            <span>22 Dec, 2017</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img">
                            <a href="#" class="block"><img src="img/sidebar/2.jpg" alt=""></a>
                        </div>
                        <div class="post-text">
                            <h4><a href="#">post demo title</a></h4>
                            <span>10 Feb, 2017</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img">
                            <a href="#" class="block"><img src="img/sidebar/3.jpg" alt=""></a>
                        </div>
                        <div class="post-text">
                            <h4><a href="#">post demo title</a></h4>
                            <span>06 Mar, 2017</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="room-area">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="room-details-title">similar rooms</h3>
                    </div>
                </div>
            </div>
            <div class="single-room small">
                <img src="img/room/1.jpg" alt="">
                <h3>Royal Suit</h3>
                <div class="room-hover text-center">
                    <div class="hover-text">
                        <h3><a href="room-details.html">Royal Suit</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <div class="room-btn">
                            <a href="room-details.html" class="default-btn">DETAILS</a>
                        </div>
                    </div>
                    <div class="p-amount">
                        <span>$220</span>
                        <span class="count">Per Night</span>
                    </div>
                </div>
            </div>
            <div class="single-room large">
                <img src="img/room/2.jpg" alt="">
                <h3>Deluxe Suit</h3>
                <div class="room-hover text-center">
                    <div class="hover-text">
                        <h3><a href="room-details.html">Deluxe Suit</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <div class="room-btn">
                            <a href="room-details.html" class="default-btn">DETAILS</a>
                        </div>
                    </div>
                    <div class="p-amount">
                        <span>$150</span>
                        <span class="count">Per Night</span>
                    </div>
                </div>
            </div>
            <div class="single-room small">
                <img src="img/room/3.jpg" alt="">
                <h3>Single Room</h3>
                <div class="room-hover text-center">
                    <div class="hover-text">
                        <h3><a href="room-details.html">Single Room</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <div class="room-btn">
                            <a href="room-details.html" class="default-btn">DETAILS</a>
                        </div>
                    </div>
                    <div class="p-amount">
                        <span>$120</span>
                        <span class="count">Per Night</span>
                    </div>
                </div>
            </div>
            <div class="single-room medium">
                <img src="img/room/4.jpg" alt="">
                <h3>Double Room</h3>
                <div class="room-hover text-center">
                    <div class="hover-text">
                        <h3><a href="room-details.html">Double Room</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <div class="room-btn">
                            <a href="room-details.html" class="default-btn">DETAILS</a>
                        </div>
                    </div>
                    <div class="p-amount">
                        <span>$100</span>
                        <span class="count">Per Night</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->