 <!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Contact Us</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<h1 class="h3 mb-3 font-weght-normal">
    Pleace sign in
</h1>

<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <form method="post">

                        <input type="hidden" value="@ViewBag.Returnurl" name="returnurl" />

                        <label class="sr-only">Email address</label>
                        <input type="text" name="username"
                               class="form-control"
                               placeholder="User name" />

                        <label class="sr-only">Password</label>
                        <input type="password" name="password"
                               class="form-control" />

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
