@{
    ViewData["Title"] = "Home Page";
     
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Id</h1>
    <ul>
        <li>@ViewBag.Id</li>
        <li>@ViewBag.Name</li>

    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
