@{
    ViewData["Title"] = "Home Page";
    DateTime CurrentDate = ViewBag.CurrentDate;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.CurrentDate | @CurrentDate</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
