        <!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Our Staff</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Our Staff</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Team Area Start -->
<section class="team-area pt-90 team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our special staff</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/1.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Kathy Luis</h4>
                        <span class="block">( Officer )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/2.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Them Jonse</h4>
                        <span class="block">( Manager )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/3.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Marry Gomej</h4>
                        <span class="block">( Leader )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/4.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Noah Jackson</h4>
                        <span class="block">( Officer )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/5.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Emma Madison</h4>
                        <span class="block">( Manager )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-team">
                    <div class="team-image"><img src="img/team/1.jpg" alt=""></div>
                    <div class="team-hover">
                        <h4>Benjamin Aiden</h4>
                        <span class="block">( Leader )</span>
                        <p>Lorem ipsupm dolor sit amet, conse ctetur adipisicing elit, sed do eiumthgtipsupm dolor sit amet conse</p>
                        <div class="team-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 fix">
                <div class="pagination-content text-center">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->