
<div class="main-menu hidden-xs">
    <nav>
        <ul>
            <li><a asp-action="Index" asp-controller="Home">HOME</a></li>
            <li>
                <a asp-action="Index" asp-controller="Room">ROOMS</a>
                <ul class="submenu">
                    <li><a asp-action="RoomList" asp-controller="Room">ROOM LIST</a></li>
                    <li><a asp-action="RoomDetails" asp-controller="Room">ROOM DETAILS</a></li>
                </ul>
            </li>
            <li>
                <a @*asp-action="Index" asp-controller="Activities"*@ href="#">ACTIVITIES</a>
                <ul class="submenu megamenu">
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="location.html">Location</a></li>
                            <li><a href="room-grid.html">Room Grid</a></li>
                            <li><a href="room-list.html">Room List</a></li>
                            <li><a href="room-details.html">Room Details</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="event.html">Event</a></li>
                            <li><a href="#">Mega menu</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="room-list.html">Room List</a></li>
                            <li><a href="#">Mega menu</a></li>
                            <li><a href="room-grid.html">Room Grid</a></li>
                            <li><a href="room-details.html">Room Details</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a asp-action="Location" asp-controller="Home">LOCATION</a></li>
            <li><a asp-action="Index" asp-controller="Event">EVENT</a></li>
            <li><a asp-action="Index" asp-controller="Team">TEAM</a></li>
            <li><a asp-action="Contact" asp-controller="Home">CONTACT</a></li>
        </ul>
    </nav>
</div>
